<% comments.reverse_order.limit(2).each do |comment| %>
  <div class="w-full inline-flex my-2 comment" data-id="<%= comment.id %>">
    <div class="w-10 pt-1">
      <%= image_tag avatar(comment.user), class: "w-full h-10 rounded-lg" %>
    </div>

    <div class="w-5/6 mx-auto">
      <div class="w-full border rounded-lg mx-auto pt-4 pl-4 pb-3">
        <%= link_to comment.user.full_name, user_path(comment.user), class: "no-underline text-blue-darker hover:text-blue" %>
        <span class="text-grey-dark ml-2"><%= comment.body %></span>
      </div>
      <p class="pl-2 pt-2"><small>Reply</small></p>
    </div>
  </div>
<% end %>
