<div class="panel panel-default panel-nav">
  <div class="panel-body">
    <ul>
      <%= menu_item "Profile", user_path(current_user) %>
      <%= menu_item "About", user_about_path(current_user) %>
      <%= menu_item "Photos", albums_path(current_user) %>
      <%= menu_item "Edit profile", edit_user_path(current_user) if @user == current_user%>
    </ul>
  </div>
</div>
