<div class="col-lg-3 left-sidebar">

  <div class="panel panel-default panel-photo">
    <div class="panel-heading">
      <h3 class="panel-title">Photos</h3>
    </div>
    <div class="panel-body">
      <% @user.pictures.limit(6).each do |picture| %>
        <div class="col-lg-6">
          <%= link_to image_tag(picture.picture.url, :class => "img-responsive"), album_picture_path(picture.user, picture.album, picture) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
