<div class="panel panel-default panel-nav">
  <div class="panel-body">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Edit Profile</a></li>
    </ul>
  </div>
</div>
