<div class="col-lg-3 left-sidebar">

  <div class="panel panel-default panel-photo">
    <div class="panel-heading">
      <h3 class="panel-title">Photos</h3>
    </div>
    <div class="panel-body">
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg">
      </div>
    </div>
  </div>
</div>
