<div class="row">
  <div class="col-lg-8">
    <div class="moto">
      <h2>Be active, be alive</h2>
      <h3>It´s your time to change world!</h3>
    </div>

    <%= image_tag "logo.png" %>

  </div>

  <div class="col-lg-4">
    <div class="row">
      <%= render "home/login" %>
    </div>

    <div class="row">
      <%= render "devise/registrations/new" if Rails.env.development? %>
      <h4>This si pre alpha, you can join just with invitation!</h4>
    </div>
  </div>

</div>
