<div class="row">

  <div class="col-lg-9">
  </div>

  <div class="col-lg-3 event-left-side">
    <div class="info">
      <%= image_tag @event.avatar.url, :class => "event-avatar" %>
    </div>

    <br>

    <div class="events panel panel-default">
      <div class="panel-body">
        <label>Event name: </label> <%= @event.name %><br>
        <label>Campain: </label> <%= link_to @event.campain.name, organization_campain_path(@event.campain.organization, @event.campain) %><br>
        <label>Organization: </label> <%= link_to @event.campain.organization.name, organization_path(@event.campain.organization) %>
      </div>
    </div>

  </div>

</div>
