<div class="row">

  <div class="col-lg-9">
  </div>

  <div class="col-lg-3 event-left-side">
    <div class="info">
      <%= image_tag "http://english.tw/wp-content/themes/qaengine/img/default-thumbnail.jpg", :class => "event-avatar" %>

      <h4><%= @event.name %></h4>
    </div>

    <div class="events panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
      </div>
      <div class="panel-body">
        Event list
      </div>
    </div>
  </div>

</div>
