.event-left-side {

  .info {
    .event-avatar {
      width: 100%;
      border-radius: 10px;
    }
  }


  .description {
    p {
    	font-style: italic;
  		text-align: justify;
    }
  }
  

}

.status-box {

  .pagination {
    span {
      visibility: hidden;
    }
  }

}