// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-friends .panel-heading .panel-title {
  width: auto !important;
  display: inline-block;
}

a.panel-button {
  float: right !important;
  display: inline-block;
}

a.panel-button:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.timeline-status-frame {
  padding: 0px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;

  #status-textarea {
    background-color: #ffffff;
    height: 80px;
    color: #929292;
    border-radius: 4px;
    overflow-y: scroll;
  }

  #status-textarea:focus {
    outline-color: #d8d8d8;
  }

  .btn-send {
    border: none;
    background: transparent;
    color: #008ffb;
    font-size: 18px;
  }

  .btn-send:hover {
    color: #022e4e;
  }

  .status-actions {
    height: 100%;
    padding: 9px;
  }

  .status-actions a {
    font-size: 10px;
    display: block;
    padding-left: 12px;
    text-decoration: none;

    i {
      font-size: 18px;
    }
  }

  .status-actions a:hover {
    cursor: pointer;
  }
}

.single-status {
  list-style: none;
  margin-top: 30px;
  padding: 0px;

  .panel {
    margin-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;

    .panel-heading {
      position: relative;
      border-bottom: 1px solid #f1f1f1;

      .user-image {
        display: inline;

        img {
          width: 10%;
          border-radius: 2px;
          max-height: 56px;
        }
      }

      .username {
        display: inline;
        position: absolute;
        top: 0;
        padding-left: 8px;

        a {
          color: #b0959c;
        }
      }
    }

    .panel-body {
      color: #b0959c;
    }

    .panel-footer {
      a:hover {
        cursor: pointer;
      }
    }
  }
}

/* Mobile view */

@media only screen and (max-device-width: 480px) {
  .container {
      width: 100%;
  }

  .logo-wrapper {
    display: none;
  }

  .sign-up-wrapper {
    display: none;
  }

  .login-wrapper {
    input[type="text"], input[type='password'], input[type='submit'] {
      height: 70px;
      line-height: 40px;
      font-size: 32px;
    }

    input[type="checkbox"] {
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      padding: 10px;
    }

    label[for="user_remember_me"] {
      font-size: 32px;
      margin-left: 10px;
    }
  }
}

.edit-image {
  margin-left: 330px;
}
