// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-friends .panel-heading .panel-title {
  width: auto !important;
  display: inline-block;
}

a.panel-button {
  float: right !important;
  display: inline-block;
}

a.panel-button:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}