/*
 *= require jquery-ui
 *= require trix
 *= require datetimepicker
 *= require_tree ./administrator
 *= require_self
 */

table {
  border-collapse: collapse;
}

table .header {
  border-bottom: 1px solid black;
  text-align: left;
}

table {
  .row {
    p {
      line-height: 2.5;
    }
  }
}
 .modal {
   background: transparent !important;
   padding: 0px !important;
 }

.field_with_errors {
  .message {
    color: #d60000;
    display: block;
    margin-top: 10px;
  }
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

.ui-autocomplete {
  z-index: 100;
}
