/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require fontawesome
 *= require animate-css
 *= require rails_emoji_picker
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f5f5f5;
  padding-top: 50px;
}

.navbar-default {
  background-color: #f5f5f5;
  margin-bottom: 0px;
  border: 0px;
}

.navbar-link {
  background-color: #0064a0 !important;
  color: #67727a !important;
}

.navbar-default .navbar-brand {
  color: #67727a;
}

.navbar-default .navbar-nav li a {
  color: #67727a !important;
}

.navbar-default .navbar-nav li ul {
  width: 170px;
}

.navbar-default .navbar-nav li a:hover {
  color: #67727a !important;
  font-weight: 600;
}

.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus {
  color: #fafdff;
}

.dropdown-item {
  color: #fafdff !important;
}


.navbar-default .navbar-nav .open .dropdown-item, .navbar-default .navbar-nav .open .dropdown-item:hover, .navbar-default .navbar-nav .open .dropdown-item:focus {
  background-color: #fafdff;
  color: #3082b3 !important;
}

/* Validation */
.field_with_errors {
  width: 100%;
  background: transparent !important;
}

.field_with_errors .message {
  color: red;
}
