.campain-left-side {

  .info {
    .campain-avatar {
      width: 100%;
      height: 200px;
    }
  }

}

.campain-center {

  .campain-header-events {
    background: #ffffff;
    height: 200px;
    margin-bottom: 40px;
    padding-top: 20px;

    .list-inline {
    	margin-right: 5px;
    	

      img {
        width: 190px;
        max-height: 150px;
      }

    }

  }

  .timeline {
    background: #ffffff;
    height: 500px;
  }

}
