// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-margin {
  margin-top: 60px;
}

.icon-responsive {
  width: 100%;
}

// Left panels and widgets

.latest-campain-widget h3 {
  width: auto;
  display: inline-block;
}

.latest-campain-widget a {
  width: auto;
  float: right;
  font-size: 12px;
  padding: 0px 4px;
  border: 1px;
}

.latest-campain-widget a:hover {
  color: #67727a;
  text-decoration: none;
  border: 1px solid #67727a;
  background: #f5f5f5;
  border-radius: 4px;
}
