<% if user_signed_in? && current_user.likes?(activity) %>
	<%= link_to "<span class='glyphicon glyphicon-heart text-danger' aria-hidden='true'></span>".html_safe, activity_like_path(activity), method: :delete, remote: true %>
<% else %>
	<%= link_to "<span class='glyphicon glyphicon-heart text-primary' aria-hidden='true'></span>".html_safe, activity_like_path(activity), method: :post, remote: true %>
<% end %>

<%= activity.likes.count %>