<div class="shadow w-full flex-wrap my-6 bg-white">
  <p class="p-4 border-b border-grey text-grey-darker">Admin</p>

  <div class="content p-4 text-center">
    <p>You are admin, go to dashboard</p>
    <p><%= link_to 'Dashboard', '#', class: "no-underline" %></p>
  </div>
</div>

<%= render :partial => 'subscriptions/partials/quotas' %>
