<div class="shadow w-full flex-wrap my-6 bg-white">
  <p class="p-4 border-b border-grey text-grey-darker">Latest campains</p>

  <div class="content p-4">
    <% if !@campains.exists? %>
      <p>Create first campain for this organization</p>
    <% else %>
      <div class="list-group">
        <% @campains.each do |campain| %>
          <% if(campain.id != nil) %>
            <%= link_to campain.name, organization_campain_path(@organization, campain), :class => "list-group-item list-group-item-action" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
