<div class="shadow w-full flex-wrap my-6 bg-white">
  <p class="p-4 border-b border-grey text-grey-darker">Events</p>

  <div class="content p-4">
    <% if !@events.any? %>
      <p>This organization has no events!</p>
    <% else %>
      <div class="list-group">
        <% @events.each do |event| %>
          <% if(event.id != nil) %>
            <%= link_to event.name, organization_campain_event_path(@organization, event.campain_id, event), :class => "list-group-item list-group-item-action" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
