<tr class="w-full">
  <td class="w-1/6"><%= image_tag organization.avatar.url, :class => "w-10 h-10 rounded-lg" %></td>
  <td class="w-3/5"><%= link_to organization.name, organization_path(organization), class: 'no-underline text-grey-darker ml-2' %></td>
  <td class="text-right w-1/6">
    <%= link_to "Dashboard", administrator_path(organization), class: "bg-transparent hover:bg-teal text-teal-dark no-underline float-right mt-1 mr-2 font-semibold hover:text-white py-2 px-4 border border-teal hover:border-transparent rounded" if type == :admin || type == :moderator %>
    <% if type == :member %>
    	<%= link_to 'Exit', organization_remove_member_path(organization, current_user.id), :method => :delete, :remote => true, :class => "label label-warning" %>
    <% end %>
  </td>
</tr>
