<div class="col-lg-3 left-sidebar">

  <%= render 'organizations/partials/admin_left' if is_organization_admin?(@organization) %>
  <%= render 'organizations/partials/campain_widget' %>
  <%= render 'organizations/partials/event_widget' %>
  <%= render 'organizations/partials/moderator_left' if is_organization_moderator?(@organization) %>

</div>
